.form-container {
  margin: 2rem auto 0;
  width: 400px;
  outline: 1px solid;
  overflow: hidden;
  border-radius: 0.3rem;
}

.form-header {
  background-color: black;
  color: white;
  text-align: center;
}

.form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.form-field > input[type="text"] {
  width: 100%;
  padding: 0.3rem;
  box-sizing: border-box;
}
